{
  "env": {
    "browser": true
  },
  "extends": "@antfu",
  "rules": {
    "eqeqeq": "error",
  
    "semi": ["error", "always"],
    "curly": ["error", "multi-line"],

    "no-extra-semi": "off",
    "no-else-return": "error",
    "no-console": ["error", { "allow": ["warn", "info", "error"] }],
    
    "antfu/if-newline": "off",

    "@typescript-eslint/semi": ["error", "always"]
  }
}